<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="col-md-12">
                        <div class="card card-plain">
                            <div class="card-header card-header-danger">
                                <h4 class="card-title mt-0">Users</h4>
                                <p class="card-category"> All users in the API</p>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <thead class="">

                                        <th>
                                            id
                                        </th>
                                        <th>
                                            createdAt
                                        </th>
                                        <th>
                                            name
                                        </th>
                                        <th>
                                            avatar
                                        </th>
                                        <th>
                                            username
                                        </th>
                                        <th>
                                            email
                                        </th>
                                        <th>
                                            phone number
                                        </th>
                                        </thead>
                                        <tbody >
                                        <tr *ngFor="let data of datas">

                                            <td>
                                                {{data.id}}

                                            </td>
                                            <td>
                                                {{data.createdAt}}
                                            </td>
                                            <td>
                                                {{data.name}}
                                            </td>
                                            <td>
                                                {{data.avatar}}
                                            </td>
                                            <td>
                                                {{data.username}}
                                            </td>
                                            <td>
                                                {{data.email}}
                                            </td>
                                            <td>
                                                {{data.phoneNumber}}
                                            </td>

                                        </tr>
                                        </tbody>
                                    </table>
                                    <!--                          <button class="btn btn-danger" (click)="getUsers()"> Users</button>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
